body {
    background-image: url("https://www.askideas.com/media/83/Keep-smiling...-it-makes-people-wonder-what-youre-up-to.jpg");
    background-size: cover;
    background-attachment: fixed;
    
}

