h1 {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 50px;
}
body {
    background: #fafafa;
}

.jumbotron {
    background-image: url("https://www.askideas.com/media/83/Keep-smiling...-it-makes-people-wonder-what-youre-up-to.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 30%;
}
.display-4 {
    text-align:left;
}
.sponsored{
    font-family: 'interface',monospace;
    color: white;
}
.bgsponsored{
    background-color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
embed {
    height: 400px;
    width: 400px;
    text-align: center;
}